<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Bootstrap 4, from LayoutIt!</title>

	<meta name="description" content="Source code generated using layoutit.com">
	<meta name="author" content="LayoutIt!">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="css/indexstyle.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/vex/vex.css" />
	<link rel="stylesheet" href="/css/vex/vex-theme-wireframe.css" />
	<link rel="stylesheet" href="/css/bootoast.css" />
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron bg-dark row">
					<h2 class="text-white">
						DEVELOPER'S ASSISTANT
					</h2>
					<hr />
				</div>
				<div class="row ">
					<div class="col-md-4 buttonsClass">

						<button class="btn btn-outline-dark btn-block btn-lg" id="CreateUIBlock">
							CREATE UI BLOCK
						</button>
					</div>
					<div class="col-md-4">
					</div>
					<div class="col-md-4 buttonsClass">

						<a href="/" class="btn btn-outline-dark btn-block btn-lg">
							CREATE A PAGE
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
			</div>
			<div class="col-md-4 buttonsClass">

				<a href="/" class="btn btn-outline-dark btn-block btn-lg">
					DESIGN DATABASE
				</a>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootoast.js"></script>
	<script src="js/scripts.js"></script>
	<script src="/js/vex/vex.combined.js"></script>
	<script>vex.defaultOptions.className = 'vex-theme-wireframe'</script>
	<script src="/js/dreamproject/myscript.js"></script>
</body>

</html>